.root {
    background-color: #eee;
    text-align: center;
    cursor: pointer;
    color: #333;
    padding: 10px;
    margin-top: 20px;
}

.icon {
    margin-top:16px;
    color: #888888;
    font-size: 42px;
}