@import "../user/user-variables";

.expoContainer {
    h2.filterTitle {
      height: 90px;
      &::after {
        border-bottom: 3px solid $primary;
        content: "";
        height: 18px;
        width: 100px;
        position: relative;
        display: block;
      }
    }
  }