@import "../user/user-variables";

.sectionHeader {
  h1 {
    font-size: 59px;
    font-weight: 200;
  }
  .sectionTitleContainer {
    padding: 50px;
    background-color: #f2f2f2;
    border-right: 8px solid $primary;
  }
  .sectionDescriptionContainer {
    p {
      margin-bottom: 0;
    }
  }
}
